<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kenneth.ctx.news.mapper.FeedbackMapper">

    <sql id="idKey">
        fbid
    </sql>

    <sql id="withoutId">
        uid,
        uname,
        content,
        cdate,
        status
    </sql>

    <sql id="tblName">
        t_feedback
    </sql>

    <delete id="delete">
        delete from
        <include refid="tblName"/>
        where
        <include refid="idKey"/>
        = #{id}
    </delete>

    <select id="queryAll" resultType="Feedback">
        select
        <include refid="idKey"/>,
        <include refid="withoutId"/>
        from
        <include refid="tblName"/>
    </select>

    <select id="getById" resultType="Feedback">
        select
        <include refid="idKey"/>,
        <include refid="withoutId"/>
        from
        <include refid="tblName"/>
        where
        <include refid="idKey"/>
        = #{id}
    </select>

    <select id="count" resultType="Integer">
        select count(1)
        from
        <include refid="tblName"/>
    </select>

    <select id="queryOne" resultType="Feedback">
        select
        <include refid="idKey"/>,
        <include refid="withoutId"/>
        from
        <include refid="tblName"/>
    </select>

    <select id="query" resultType="Feedback">
        select
        <include refid="idKey"/>,
        <include refid="withoutId"/>
        from
        <include refid="tblName"/>
        order by cdate desc
    </select>

    <select id="queryByPage" resultType="Feedback">
        select
        <include refid="idKey"/>,
        <include refid="withoutId"/>
        from
        <include refid="tblName"/>
        order by cdate desc
    </select>

    <insert id="insert" keyProperty="fbid" useGeneratedKeys="true"
            flushCache="true" timeout="20">
        insert into
        <include refid="tblName"/>
        (
        <include refid="withoutId"/>
        )
        values
        ( #{uid}, #{uname}, #{content}, #{cdate}, #{status})
    </insert>

</mapper>